<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garethevans.church.opensongtablet"
    android:versionCode="105"
    android:versionName="3.9.4"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="12" android:targetSdkVersion="23" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">
        //android:theme="@style/AppTheme"

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchSongs" />
        <service android:enabled="true"
            android:exported="false"
            android:name="com.garethevans.church.opensongtablet.SoftKeyboardForce">
        </service>

        <receiver android:name="com.garethevans.church.opensongtablet.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.garethevans.church.opensongtablet.SettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.FullscreenActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name">

            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/xml" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/txt" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.osb" />
                <data android:pathPattern="/.*\\..*\\.osb"/>
                <data android:pathPattern="/.*\\..*\\..*\\.osb"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.osb"/>
                <data android:host="*" />
            </intent-filter>

            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.ost" />
                <data android:pathPattern="/.*\\..*\\.ost"/>
                <data android:pathPattern="/.*\\..*\\..*\\.ost"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.ost"/>
                <data android:host="*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.onsong" />
                <data android:pathPattern="/.*\\..*\\.onsong"/>
                <data android:pathPattern="/.*\\..*\\..*\\.onsong"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.onsong"/>
                <data android:host="*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.backup" />
                <data android:pathPattern="/.*\\..*\\.backup"/>
                <data android:pathPattern="/.*\\..*\\..*\\.backup"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.backup"/>
                <data android:host="*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.osts" />
                <data android:pathPattern="/.*\\..*\\.osts"/>
                <data android:pathPattern="/.*\\..*\\..*\\.osts"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.osts"/>
                <data android:host="*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.pro" />
                <data android:pathPattern="/.*\\..*\\.pro"/>
                <data android:pathPattern="/.*\\..*\\..*\\.pro"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pro"/>
                <data android:pathPattern="/.*\\.PRO" />
                <data android:pathPattern="/.*\\..*\\.PRO"/>
                <data android:pathPattern="/.*\\..*\\..*\\.PRO"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.PRO"/>
                <data android:pathPattern="/.*\\.chopro" />
                <data android:pathPattern="/.*\\..*\\.chopro"/>
                <data android:pathPattern="/.*\\..*\\..*\\.chopro"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.chopro"/>
                <data android:pathPattern="/.*\\.CHOPRO" />
                <data android:pathPattern="/.*\\..*\\.CHOPRO"/>
                <data android:pathPattern="/.*\\..*\\..*\\.CHOPRO"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.CHOPRO"/>
                <data android:pathPattern="/.*\\.chordpro" />
                <data android:pathPattern="/.*\\..*\\.chordpro"/>
                <data android:pathPattern="/.*\\..*\\..*\\.chordpro"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.chordpro"/>
                <data android:pathPattern="/.*\\.CHORDPRO" />
                <data android:pathPattern="/.*\\..*\\.CHORDPRO"/>
                <data android:pathPattern="/.*\\..*\\..*\\.CHORDPRO"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.CHORDPRO"/>
                <data android:host="*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.txt" />
                <data android:pathPattern="/.*\\..*\\.txt"/>
                <data android:pathPattern="/.*\\..*\\..*\\.txt"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.txt"/>
                <data android:pathPattern="/.*\\.TXT" />
                <data android:pathPattern="/.*\\..*\\.TXT"/>
                <data android:pathPattern="/.*\\..*\\..*\\.TXT"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.TXT"/>
                <data android:host="*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name"
                android:icon="@drawable/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.usr" />
                <data android:pathPattern="/.*\\..*\\.usr"/>
                <data android:pathPattern="/.*\\..*\\..*\\.usr"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.USR"/>
                <data android:pathPattern="/.*\\.USR" />
                <data android:pathPattern="/.*\\..*\\.USR"/>
                <data android:pathPattern="/.*\\..*\\..*\\.USR"/>
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.USR"/>
                <data android:host="*" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.ChangeDisplayPreferences"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.CustomChord"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.ListSongFiles"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.SearchViewFilterModeNew"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.ChordProConvert"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.Chordie"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.PresenterMode"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.StageMode"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.ChordFormat"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.BibleSelect"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.GestureOptions"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.garethevans.church.opensongtablet.StorageChooser"
            android:label="@string/app_name" >
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>