<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.garethevans.church.opensongtablet"
    android:installLocation="auto"
    android:versionCode="197"
    android:versionName="5.3.7b">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.software.midi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature 
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <supports-screens android:anyDensity="true" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:roundIcon="@mipmap/ic_round_launcher"
        android:theme="@style/MyTheme"
        android:vmSafeMode="true"
        tools:ignore="UnusedAttribute"
        android:supportsRtl="true">

        <receiver android:name=".BatteryMonitor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".PresentationService"
            android:exported="false" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchSongs" />
        <service
            android:name="com.garethevans.church.opensongtablet.SoftKeyboardForce"
            android:enabled="true"
            android:exported="false" />

        <!-- Required for Nearby Connections API -->
        <meta-data
            android:name="com.google.android.gms.nearby.connection.SERVICE_ID"
            android:value="@string/service_id" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.garethevans.church.opensongtablet.CastOptionsProvider" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="OpenSongAppFiles"
            android:exported="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".BootUpCheck"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ImportIntent"
            android:label="@string/app_name"
            android:exported="true">

            <!--plaintext filter-->
            <intent-filter
                android:label="@string/app_name"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!--xmlapplication filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/xml" />
            </intent-filter>

            <!--txtapplication filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/txt" />
            </intent-filter>
            <!--xml filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/xhtml+xml" />
            </intent-filter>
            <!--stream filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher"
                tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <!--osb filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.osb" />
                <data android:pathPattern="/.*\\..*\\.osb" />
                <data android:pathPattern="/.*\\..*\\..*\\.osb" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.osb" />
                <data android:host="*" />
            </intent-filter>
            <!--ost filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.ost" />
                <data android:pathPattern="/.*\\..*\\.ost" />
                <data android:pathPattern="/.*\\..*\\..*\\.ost" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.ost" />
                <data android:host="*" />
            </intent-filter>
            <!--onsong filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.onsong" />
                <data android:pathPattern="/.*\\..*\\.onsong" />
                <data android:pathPattern="/.*\\..*\\..*\\.onsong" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.onsong" />
                <data android:host="*" />
            </intent-filter>
            <!--backup filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.backup" />
                <data android:pathPattern="/.*\\..*\\.backup" />
                <data android:pathPattern="/.*\\..*\\..*\\.backup" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.backup" />
                <data android:host="*" />
            </intent-filter>
            <!--osts filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.osts" />
                <data android:pathPattern="/.*\\..*\\.osts" />
                <data android:pathPattern="/.*\\..*\\..*\\.osts" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.osts" />
                <data android:host="*" />
            </intent-filter>
            <!--chordpro filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.pro" />
                <data android:pathPattern="/.*\\..*\\.pro" />
                <data android:pathPattern="/.*\\..*\\..*\\.pro" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pro" />
                <data android:pathPattern="/.*\\.PRO" />
                <data android:pathPattern="/.*\\..*\\.PRO" />
                <data android:pathPattern="/.*\\..*\\..*\\.PRO" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.PRO" />
                <data android:pathPattern="/.*\\.cho" />
                <data android:pathPattern="/.*\\..*\\.cho" />
                <data android:pathPattern="/.*\\..*\\..*\\.cho" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.cho" />
                <data android:pathPattern="/.*\\.CHO" />
                <data android:pathPattern="/.*\\..*\\.CHO" />
                <data android:pathPattern="/.*\\..*\\..*\\.CHO" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.CHO" />
                <data android:pathPattern="/.*\\.chopro" />
                <data android:pathPattern="/.*\\..*\\.chopro" />
                <data android:pathPattern="/.*\\..*\\..*\\.chopro" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.chopro" />
                <data android:pathPattern="/.*\\.CHOPRO" />
                <data android:pathPattern="/.*\\..*\\.CHOPRO" />
                <data android:pathPattern="/.*\\..*\\..*\\.CHOPRO" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.CHOPRO" />
                <data android:pathPattern="/.*\\.chordpro" />
                <data android:pathPattern="/.*\\..*\\.chordpro" />
                <data android:pathPattern="/.*\\..*\\..*\\.chordpro" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.chordpro" />
                <data android:pathPattern="/.*\\.CHORDPRO" />
                <data android:pathPattern="/.*\\..*\\.CHORDPRO" />
                <data android:pathPattern="/.*\\..*\\..*\\.CHORDPRO" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.CHORDPRO" />
                <data android:host="*" />
            </intent-filter>
            <!--txt filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.txt" />
                <data android:pathPattern="/.*\\..*\\.txt" />
                <data android:pathPattern="/.*\\..*\\..*\\.txt" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern="/.*\\.TXT" />
                <data android:pathPattern="/.*\\..*\\.TXT" />
                <data android:pathPattern="/.*\\..*\\..*\\.TXT" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.TXT" />
                <data android:host="*" />
            </intent-filter>
            <!--usr filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.usr" />
                <data android:pathPattern="/.*\\..*\\.usr" />
                <data android:pathPattern="/.*\\..*\\..*\\.usr" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.usr" />
                <data android:pathPattern="/.*\\.USR" />
                <data android:pathPattern="/.*\\..*\\.USR" />
                <data android:pathPattern="/.*\\..*\\..*\\.USR" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.USR" />
                <data android:host="*" />
            </intent-filter>
            <!--pdf filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.pdf" />
                <data android:pathPattern="/.*\\..*\\.pdf" />
                <data android:pathPattern="/.*\\..*\\..*\\.pdf" />
                <data android:pathPattern="/.*\\.PDF" />
                <data android:pathPattern="/.*\\..*\\.PDF" />
                <data android:pathPattern="/.*\\..*\\..*\\.PDF" />
            </intent-filter>
            <!--png filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.png" />
                <data android:pathPattern="/.*\\..*\\.png" />
                <data android:pathPattern="/.*\\..*\\..*\\.png" />
                <data android:pathPattern="/.*\\.PNG" />
                <data android:pathPattern="/.*\\..*\\.PNG" />
                <data android:pathPattern="/.*\\..*\\..*\\.PNG" />
            </intent-filter>
            <!--jpg filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.jpg" />
                <data android:pathPattern="/.*\\..*\\.jpg" />
                <data android:pathPattern="/.*\\..*\\..*\\.jpg" />
                <data android:pathPattern="/.*\\.JPG" />
                <data android:pathPattern="/.*\\..*\\.JPG" />
                <data android:pathPattern="/.*\\..*\\..*\\.JPG" />
            </intent-filter>
            <!--jpeg filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.jpeg" />
                <data android:pathPattern="/.*\\..*\\.jpeg" />
                <data android:pathPattern="/.*\\..*\\..*\\.jpeg" />
                <data android:pathPattern="/.*\\.JPEG" />
                <data android:pathPattern="/.*\\..*\\.JPEG" />
                <data android:pathPattern="/.*\\..*\\..*\\.JPEG" />
            </intent-filter>
            <!--gif filter-->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_round_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.gif" />
                <data android:pathPattern="/.*\\..*\\.gif" />
                <data android:pathPattern="/.*\\..*\\..*\\.gif" />
                <data android:pathPattern="/.*\\.GIF" />
                <data android:pathPattern="/.*\\..*\\.GIF" />
                <data android:pathPattern="/.*\\..*\\..*\\.GIF" />
            </intent-filter>


        </activity>

        <activity
            android:name="com.garethevans.church.opensongtablet.FullscreenActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name">


        </activity>

        <activity
            android:name="com.garethevans.church.opensongtablet.PresenterMode"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateUnchanged" >


        </activity>

        <activity
            android:name="com.garethevans.church.opensongtablet.StageMode"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">


        </activity>
        <activity android:name=".Preferences" />
        <activity android:name=".LoadXML" />
        <activity android:name=".OptionMenuListeners" />
        <activity android:name=".ProcessSong" />
        <activity android:name=".SongMenuListeners" />
        <activity android:name=".ShowToast" />


        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
